<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Películas</h1>
    <p>Estás en la página de películas.</p>
  </body>
</html>
